BOT_NAME=MULLER BOT
OWNER_NUMBER=234XXXXXXXXXX
PREFIX=.
MODE=public
SESSION_DIR=./sessions
LOG_LEVEL=info

AUTH_METHOD=pairing
PHONE_NUMBER=234XXXXXXXXXX

MAX_WARNINGS=3
ANTILINK_IGNORE_ADMINS=true
ANTILINK_KICK=false

RATE_LIMIT_MAX=8
RATE_LIMIT_WINDOW_MS=10000
